html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  min-width: 100%;
}


main {
  text-align: center;
}

/* Eventually might add a class to the image depending if I add more */
img {
  border-radius: 50%;
}

/* Any window size smaller than 550px makes the image resposne using width 100% */
@media all and (max-width: 550px) {
  img {
    width: 100%;
  }
}

header {
  background-color: #00398F;
}

header {
  display: flex;
  justify-content: center;
}

header nav {
  margin-left: 14px;
}

.nav-list {
  display: flex;
  font-size: 1rem;
  padding-left: 0;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 0px;
}

@media all and (max-width: 345px) {
  .nav-list {
    font-size: 0.80rem;
  }
  .nav-list li {
    margin: 0 7px 0 0;
  }
}

.nav-list li {
  margin: 0 20px 0 0;
}

.nav-list li a {
  color: white;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
}

.sections {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.intro {
  background-color: #00398F;
  color: white;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
}

.about {
  background-color: #27476E;
  color: #EAF8BF;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
}

.about-text {
  border: solid;
  max-width: 65rem;
  text-align: left;
  padding: 1.2rem;
  margin: 1rem;
} 

/* To account for mobile */
@media all and (max-width: 37.5em) {
  .about-text {
    margin: 2rem;
  }
}

.projects {
  background-color: #006992;
  color: #F4F4F8;
}

.contact {
  background-color: #ECA400;
}

.links {
  background-color: #FDE74C;
}

.link {
  margin: 1rem;
}

a:link {
  color:red;
}

a:visited {
  color:white;
}

a:hover {
  color: #0000FF;
}

a:active {
  color: yellow;
}

.form {
  /* width: 50%; */
  border: #0000FF solid;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* So that the inputs will not all be on one line*/
  flex-wrap: wrap;
}

.subject {
  margin-top: 15px;
  width: 75%;
}

.small-inputs {
  /* display: flex; */
  margin: 1rem;
}

@media all and (max-width: 21.25rem) {
  #user-name {
    margin-bottom: 0.5rem;
  }
}

.large-inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
}

.large-inputs textarea{
  height: 4.75rem;
  margin-bottom: 1rem;
}

.project-title {
  font-size: 1rem;
  font-weight: bolder;
}

.project-group {
  display: flex;
  margin: 1rem;
  flex-wrap: nowrap;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
}

@media all and (max-width: 25.5em) {
  .project-group {
    flex-direction: column;
  }
}

.project-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}