html {
    height:100%; 
    /* sets html to height of viewport 
      (bg color will still cover viewport) */
}

body {
    /* don't set explicit height */
    min-height:100%;
    margin: 0;
    /* expands body to height of html,
       but allows it to expand further
       if content is taller than viewport */
}

main {
  text-align: center;
}

img {
  border-radius: 50%;

}

.nav-links li {
  display: inline;
}

.sections {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intro {
  background-color: #00398F;
  color: white;
}

.about {
  background-color: #27476E;
  color: #EAF8BF;
}

.projects {
  background-color: #006992;
}

.contact {
  background-color: #ECA400;
}

.about-text {
  border: solid;
} 

.contact-links{
  display: flex;
}

.link {
  flex: 1;
  margin: 10px;
}

@media all and (max-width: 550px) {
  img {
    width: 100%;
  }
}