html {
    height:100%; 
    /* sets html to height of viewport 
      (bg color will still cover viewport) */
}

body {
    /* don't set explicit height */
    min-height:100%;
    margin: 0;
    /* expands body to height of html,
       but allows it to expand further
       if content is taller than viewport */
}

main {
  text-align: center;
}

/* Eventually might add a class to the image depending if I add more */
img {
  border-radius: 50%;
}

/* Any window size smaller than 550px makes the image resposne using width 100% */
@media all and (max-width: 550px) {
  img {
    width: 100%;
  }
}

header {
  background-color: #00398F;
}

header nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 0px;
}

.nav-list li a {
  color: white;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  margin: 0 20px 0 0;
}

.sections {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.intro {
  background-color: #00398F;
  color: white;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
}

.about {
  background-color: #27476E;
  color: #EAF8BF;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
}

/* To account for mobile, can likely refactor this */
@media all and (max-width: 550px) {
  .about {
    font-size: 0.80rem;
  }
}
@media all and (max-width: 370px) {
  .about {
    font-size: 0.70rem;
  }
}

.projects {
  background-color: #006992;
  color: #F4F4F8;
}

.contact {
  background-color: #ECA400;
}

.links {
  background-color: #FDE74C;
}

.about-text {
  justify-content: space-around;
  border: solid;
  padding: 25px;
  margin: 50px 100px 0 100px;
} 

.contact-links{
  display: flex;
}

.link {
  flex: 1;
  margin: 10px;
}

a:link {
  color:red;
}

a:visited {
  color:green;
}

a:hover {
  color: #0000FF;
}

a:active {
  color: yellow;
}

.form {
  width: 50%;
  border: #0000FF solid;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* So that the inputs will not all be on one line*/
  flex-wrap: wrap;
}

.subject {
  margin-top: 15px;
  width: 75%;
}

.small-inputs {
  margin-top: 50px;
  margin-bottom: 20px;
}

.large-inputs textarea {
  width: 75%;
  height: 4.75rem;
  margin-bottom: 50px;
}