---
layout: default
---

<div class="home">

  <div class="work">
    <h2>My Work</h2>
    {% for project in site.portfolio limit:3 %}
    <div class="project">
      <div class="project-thumb">
        <a href="{{ project.url | prepend: site.baseurl }}">
          <img src="{{ project.thumbnail-path }}" alt="{{ project.title }}"/>
        </a>
      </div>
      <div class="project-description">
        <a href="{{ project.url | prepend: site.baseurl }}"><strong>{{ project.title }}</strong></a>
        <p>{{ project.short-description }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="posts">
    <h2 class="post-header">My Posts</h2>
    <ul>
      {% for post in paginator.posts %}
      <li class="post-teaser">
        <header>
          <h3>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}
            </a>
          </h3>
          <p class="meta">
            {{ post.date | date: "%B %-d, %Y" }}
          </p>
        </header>
        <div class="excerpt">
          {{ post.excerpt | | strip_html | strip_newlines | truncate: 120 }}
        </div>
        <a href="{{ post.url | prepend: site.baseurl }}">
          {{ site.theme_settings.str_continue_reading }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_prev }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
