@import 'page';
// Header text feature
.call-out {
  padding:5% 0 0 1%;
  display: inline-block;
  width: 100%;
  background-size: cover;
  font-size: 1.2em;
  text-align: center;
  color: $text-color;
  background-position:center center;
  &.call-out-index {
    height: 100vh;
  }
  .site-title {
    display:block;
    width:100%;
    a {
      font-size:1em;
      // text-transform: uppercase;
      color: $link-color;
    }
  }
  ul {
    li {
      list-style-type: none;
      display: inline-block;
      margin:0 0.5em;
      a {
        color: $link-color;
      }
    }
  }
  h1 {
    margin-bottom:0.25em;
    display:block;
  }
  .divider {
    width: 15%;
    height:2px;
    background-color:$border-color;
    display:block;
    margin:.75em auto;
    &.divider-index {
      width: 65%;
    }
  }
}
.call-out p:last-child {
  margin-bottom: 0;
}

// Down Arrow
.arrow-container {
  position: relative;
  padding-top: 10%;
  font-size: 1.5em;
  #down-arrow {
    color: $link-color;
  }
}

// Post listing
.posts {
  height: 45vh;
  @extend %padding-header;
  .post-header {
    text-align: center;
  }
  .post-teaser {
    width: 46%;
    padding: 0 1em;
    @media (max-width:768px) {
      width:100%;
    }
    margin:0 2% 1em;
    display: block;
    background-size: $feature-image-size;
    float:left;
    &:first-child {
      padding-top:0;
    }
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin: 1em 0;
  }
}

// Pagination
.pagination .button {
  margin: 5em 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}
.center {
  text-align: center;
}
