article,
.comments {
  width: 100%;
  padding: 1rem 20% 0;
  float: left;
}

article {
  header {
    margin-bottom: 6%;
    text-align: center;
  }

  a:hover {
    @extend %link-hover;
  }

  .footnotes {
    font-size: .9em;
  }

  p {
    img {
      margin: 0 auto;
      text-align: center;
    }
  }
}

header {
  h1 {
    margin: 0;
  }

  .meta {
    margin: 0;
    color: $text-light;
    font-size: .6em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
}

.feature-image {
  padding: 0;
  
  .post-link {
    color: $feature-image-text-color;
  }

  header {
    margin-bottom: 0;
    padding: $padding-large/2.8 $padding-large;
    background-position: center center;
    background-size: $feature-image-size;
    color: $feature-image-text-color;
    
    .meta {
      color: $feature-image-text-light;
    }
  }

  .post-content {
    @extend %padding-regular;
  }
}

.post-content {
  form {
    input[type="text"],
    input[type="email"] {
      display: block;
      width: 100%;
      margin: 0 0 1em;
      padding: .5em;
      border: $form-border;
      border-radius: 6px;
      box-shadow: none;
    }

    input[type="submit"] {
      display: inline-block;
      margin: 1em 0;
      padding: .5em .75em;
      border: $linked-border;
      border-radius: .3em;
      background-color: $brand-color;
      color: $link-color;
      
      &:hover {
        border: $linked-border;
        background: $link-color;
        color: $background-color;
        text-decoration: none;
      }
    }

    textarea {
      display: block;
      width: 100%;
      margin: 0 0 1em;
      padding: .5em;
      border: $form-border;
      border-radius: 6px;
      box-shadow: none;
    }
  }
}
