// Typography
$font-family-main: 'Libre Baskerville', serif, 'Lato', Helvetica, Arial, sans-serif;
$font-family-headings: 'Inconsolata', 'Abril Fatface', Georgia, serif, cursive;

$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #fff;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #4a4a4a;
$link-color: #C5E0DC;
$selection-color: #D4D4D4; // visible when highlighting text

// Header colours
$header-link-color: #C5E0DC;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #D68189;
$header-desc-text-color: #FFF;
